<!DOCTYPE html>
<html>
    <head>
        <title>List-Stravaganza</title>
        <link rel="stylesheet" href="style.css" />
      </head>
    <body>
        <div class="header">
            <img id="logo" src="logo.png" alt="logo">
            <h1>Let There Be Lists!</h1>
        </div>
        
        <div class="listcontainer">
            <h2>Things To Do</h2>
            <ul id="todo">
                <% lists[0].todos.forEach((thing) => { %>
                    <% if(!thing.done) { %>
                        <li>
                            <%=thing.todo %>
                            <br/>
                            <a class="done" href=<%=`/done/${thing.id}`%>> [Done] </a>
                        </li>

                    <% } %>
                <% }) %>
            </ul>
        </div>

        <div class="listslist">
            <h2>Current Lists:</h2>
                <ul>
                    <% lists.forEach((list) => { %>
                        <li><a href="LINK TO ACCESS LIST">"<%= list.name %>"</a></li>
                    <% }) %>
                </ul>
        </div>

        <div class="form">
            <form name="listForm" action="/lists" method="POST">
                <input id="list" name="name" placeholder="NEW LIST"/>
                <button type="submit">ADD</button>
            </form>
        </div>    
    </body>
</html>