<!DOCTYPE html>
<html>
    <head>
        <title>List-Stravaganza</title>
        <link rel="stylesheet" href="style.css" />
      </head>
    <body>
        <div class="header">
            <img id="logo" src="https://o.remove.bg/downloads/be315d2d-b1d9-4f2b-9b10-39d147909cd2/image-removebg-preview.png" alt="logo">
            <h1>Let There Be Lists!</h1>
        </div>
        
        <div class="list">
            <p>Cupcake ipsum dolor sit amet candy canes. Dragée sweet roll halvah wafer pie candy. Icing shortbread tiramisu jelly-o pastry tart. Lemon drops ice cream cookie toffee danish bonbon tart. Chupa chups cupcake ice cream danish caramels jujubes candy canes chupa chups cheesecake. Gummies caramels toffee chocolate tart gingerbread. Jelly apple pie oat cake chupa chups candy canes donut oat cake.

                Sweet sweet roll tiramisu croissant fruitcake cheesecake pastry macaroon. Biscuit cookie pie liquorice jelly-o. Ice cream chupa chups liquorice tart brownie jelly beans tootsie roll oat cake. Cotton candy icing gummi bears candy danish caramels gingerbread muffin gummies. Lemon drops jelly beans soufflé sweet roll tiramisu ice cream. Dragée pastry marshmallow jelly-o cake pie. Sesame snaps bonbon lemon drops jelly beans ice cream dragée soufflé icing. Liquorice fruitcake jelly soufflé cake cake powder bonbon. Lemon drops chocolate bar sugar plum marshmallow chupa chups dragée jelly-o. Cake topping sweet roll sweet tart carrot cake topping donut carrot cake.</p>
            
        </div>

    
    </body>
</html>